apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: front
  name: front
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: front
    spec:
      containers:
      - image: gitlab-registry.imt-atlantique.fr/f21munie/vapormap/app_front:latest
        name: app-front-hb7xl
        # ports: 
        #   - containerPort: 8000
        env:
        - name: VAPORMAP_BACKEND
          value: "{{PUB_API_IP}}"
        - name: VAPORMAP_BACKEND_PORT 
          value: "80"
        - name: VAPORMAP_URL_SERVERNAME
          value: "0.0.0.0"
        - name: VAPORMAP_URL_PORT
          value: "8000"
        - name: VAPORMAP_FRONTEND_ROOT
          value: "/app_fe"
        resources: {}
      imagePullSecrets: 
      - name: registry-credentials
status: {}

---

apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: front
  name: front
spec:
  ports:
  - port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    app: front
status:
  loadBalancer: {}
